
@{
    ViewBag.Title = "User Administration";
}

<div id="app">

</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/vendor/backbone/underscore.js"></script>
<script src="~/Scripts/vendor/backbone/backbone.js"></script>
<script src="~/Scripts/vendor/backbone/backbone.marionette.js"></script>
<script>
    
</script>

